@media (max-width: 992px) {
    .container {
        max-width: 944px;
    }

    .hero .row {
        width: 93%;
    }

    .hero__card {
        padding: 35px 0 35px 20px;
    }

    .hero__sm-title {
        font-size: 19px;
    }

    .hero__btn_hollow {
        color: #FFF;
        border: 1px solid #00a0c1;
        background-color: #00A0c1;
    }

    .rt__box-title {
        font-size: 25px;
    }

    .service__lt-box {
        max-width: 545px;
    }

    .clients__subscription {
        width: 902px;
    }

    .footer__col a {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 730px;
    }

    .header .container {
        justify-content: space-between;
    }

    .hero {
        background: url(../images/Img1.png) no-repeat left/cover;
    }

    .hero__card {
        height: 243px;
    }

    .features__lg-desc {
        font-size: 14px;
    }

    .advice .grid__col-3 {
        grid-template-columns: 1fr 1fr;
    }

    .service__box {
        flex-wrap: wrap;
    }

    .service__lt-box {
        max-width: 100%;
        width: 100%;
    }

    .service__rt-box {
        padding: 22px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;

    }

    .clients__subscription {
        width: 100%;
    }

    .subscription__title {
        font-size: 17px;
    }

    .subscription__text,
    .subscription__btn {
        height: 46px;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 580px;
    }

    .hero .row {
        width: 100%;
        bottom: -19px;
        position: static;
        margin-top: 20px;
        flex-wrap: wrap;
        gap: 0;
    }

    .hero .col-4 {
        width: 100%;
        margin-bottom: 20px;
    }

    .hero {
        height: 100%;
    }

    .contact__cards {
        max-width: 550px;
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }

    .contact__svg {
        height: 60px;
        width: 55px;

    }


    .contact__col {
        height: 239px;
        padding: 0;
    }

    .footer__left-part {
        padding-left: 20px;
    }

    .footer__title {
        font-size: 18px;
    }

    .footer__desc {
        font-size: 12px;
    }

    .footer__btn {
        width: 132px;
    }

    .footer__middle {
        padding: 50px 37px;
    }

    .footer__middle .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 20px;
        column-gap: 30px;
    }

    .footer__col {
        width: 172px;
    }

    .footer__bottom .container {
        padding-left: 29px;
    }
    .footer__col-last {
        width: 200px;
    }
}

@media (max-width: 416px) {
    .hero__title {
        font-size: 44px;
    }

    .hero__desc {
        font-size: 18px;
    }

    .features {
        padding: 100px 0 0;
    }

    .section__title {
        font-size: 37px;
    }

    .section__desc {
        width: 100%;
    }

    .features .row {
        grid-template-columns: 1fr 1fr;
    }

    .advice {
        padding: 100px 0 100px;
    }
    .advice__grid {
        grid-column-gap: 15px;
    }


    .service {
        padding: 100px 0 50px;
    }

    .clients__subscription {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 30px 0 30px;
    }
    .subscription__text {
        width: 260px;
        height: 40px;
    }

    .subscription__btn {
        width: 100px;
        height: 40px;
    }

    .footer__btn {
        width: 110px;
        height: 40px;

    }


    .footer__middle .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        column-gap: 30px;
    }
    .footer__col-last {
        width: 200px;
    }

    .footer__rights {
        width: 205px;
    }
    .footer__icon {
        margin-left: 16px;
    }

    /*.footer__col-last {*/
    /*    width: 100px;*/
    /*}*/


}
