@media (max-width: 1080px){
    .hero .row {
        width: 98%;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 944px;
    }

    .hero .row {
        width: 98%;
    }

    .hero__card {
        padding: 35px 0 35px 20px;
    }

    .hero__sm-title {
        font-size: 19px;
    }

    .hero__btn_hollow {
        color: #FFF;
        border: 1px solid #00a0c1;
        background-color: #00A0c1;
    }

    .rt__box-title {
        font-size: 25px;
    }

    .service__lt-box {
        max-width: 545px;
    }

    .clients__subscription {
        width: 902px;
    }

    .footer__col a {
        font-size: 12px;
    }
}
@media (max-width: 821px) {
    .advice .grid__col-3 {
        grid-template-columns: 1fr 1fr;
    }
    .clients__subscription {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .subscription__title {
        width: auto;
        margin-bottom: 15px;
    }
    .service__image {
        width: 96%;
    }
}

@media (max-width: 768px) {
        .container {
            max-width: 730px;
        }

        .header .container {
            justify-content: space-between;
        }

        .hero {
            background: url(../images/Img1.png) no-repeat left/cover;
        }
        .hero .row {
            width: 93%;
        }

        .hero__card {
            height: 243px;
        }

        .features__lg-desc {
            font-size: 14px;
        }

        .advice .grid__col-3 {
            grid-template-columns: 1fr 1fr;
        }

        .service__box {
            flex-wrap: wrap;
        }
        .service__image {
        width: 100%;
    }

        .service__lt-box {
            max-width: 100%;
            width: 100%;
        }

        .service__rt-box {
            padding: 22px 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 100%;

        }

        .clients__subscription {
            width: 100%;
        }

        .subscription__title {
            font-size: 17px;
        }

        .subscription__text,
        .subscription__btn {
            height: 46px;
        }
    }

@media (max-width: 600px) {
        .container {
            max-width: 580px;
        }

        .hero .row {
            width: 100%;
            bottom: -19px;
            position: static;
            margin-top: 20px;
            flex-wrap: wrap;
            gap: 0;
        }

        .hero .col-4 {
            width: 100%;
            margin-bottom: 20px;
        }

        .header_nav {
        display: none;
          }

        .header__burger {
            display: block;
        }
    .burger input:checked ~ nav {
        top: 41px;
    }
        .hero {
            height: 100%;
        }

        .clients__subscription {
            flex-direction: column;
            justify-content: center;
        }

        .subscription__title {
            width: auto;
            margin-bottom: 15px;
        }

        .contact__cards {
            max-width: 550px;
            grid-template-columns: 1fr;
            grid-row-gap: 15px;
        }

        .contact__svg {
            height: 60px;
            width: 55px;

        }


        .contact__col {
            height: 239px;
            padding: 0;
        }

        .footer__left-part {
            padding-left: 20px;
        }

        .footer__title {
            font-size: 18px;
        }

        .footer__desc {
            font-size: 12px;
        }

        .footer__btn {
            width: 132px;
        }

        .footer__middle {
            padding: 50px 37px;
        }

        .footer__middle .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 30px;
            column-gap: 30px;
        }

        .footer__col {
            width: 172px;
        }

        .footer__bottom .container {
            padding-left: 29px;
        }

        .footer__col-last {
            width: 200px;
        }
    }

@media (max-width: 416px) {

        .hero__title {
            text-align: center;
            font-size: 40px;
        }

        .hero .col-4 {
            width: 328px;
            margin-left: auto;
            margin-right: auto;

        }

        .hero .container {
            padding-bottom: 205px;
        }

        .hero__desc {
            text-align: center;
            width: 280px;
            margin: 0 auto 40px;
            font-size: 20px;
        }

        .section__title {
            font-size: 40px;
            text-align: center;
            width: 245px;
            margin-right: auto;
            margin-left: auto;
        }

        .section__desc {
            font-size: 14px;
            text-align: center;
            width: 245px;
            margin-left: auto;
            margin-right: auto;
        }

        .hero .d-flex {
            flex-direction: column;
            align-items: center;
        }

        .hero__btn_filled {
            margin-bottom: 10px;
        }

        .hero__btn_hollow {
            margin-bottom: 80px;
        }


        .features {
            padding: 100px 0 0;
        }

        .section__title {
            font-size: 37px;
        }


        .features .row {
            grid-template-columns: 1fr;
        }

        .features__card {
            width: 230px;
            margin-right: auto;
            margin-left: auto;
        }


        .advice {
            padding: 100px 0 100px;
        }

        .advice__grid {
            grid-column-gap: 15px;
        }

        .advice .grid__col-3 {
            grid-template-columns: 1fr;
        }

        .advice__card {
            width: 230px;
            margin-right: auto;
            margin-left: auto;
        }


        .service {
            padding: 100px 0 50px;
        }

        .service .container {
            max-width: 333px;
        }

        .service__lt-box {
            width: 333px;
            margin-left: auto;
            margin-right: auto;
        }

        .rt__box-title {
            text-align: left;
            width: 324px;
        }

        .rt__box-desc {
            text-align: left;
            width: 324px;
            font-size: 14px;
        }


        .clients__logos {
            flex-direction: column;
            align-items: center;

        }

        .clients__logos svg {
            width: 100%;
            height: 30px;
            margin-bottom: 60px;

        }

        .clients__bottom {

        }

        .clients__logos .svg {
            margin-bottom: 60px;
        }

        .subscription__title {
            text-align: center;
            margin-top: 30px;
        }

        .clients__subscription {
            flex-direction: column;
            align-items: center;
            padding: 0 30px 0 30px;
            height: 212px;
        }

        .subscription__text {
            width: 220px;
            height: 40px;
            margin-bottom: 30px;
        }

        .clients__subscription {

            position: relative;

        }

        .subscription__btn {
            width: 100px;
            height: 40px;
            margin-bottom: 30px;
        }

        .contact {
            padding: 180px 0 83px;
        }

        .contact__col {
            width: 328px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 30px;
        }

        .footer__top {
            height: 302px;
        }

        .footer__top .container {
            flex-direction: column;
            align-items: start;
            width: 352px;
            margin: 0px auto;

        }

        .footer__left-part {
            margin: 45px 0;
        }

        .footer__title {
            text-align: left;
            width: 239px;
        }

        .footer__desc {
            text-align: left;
            width: 239px;
            margin-bottom: 50px;
        }

        .footer__btn {
            width: 160px;
            height: 80px;
            font-weight: 700;
            font-size: 14px;
            line-height: 28px;
        }


        .footer__middle .container {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            column-gap: 30px;
        }

        .footer__col-last {
            width: 200px;
        }

        .footer__bottom {
            background-color: #FAFAFA;
        }

        .footer__icon {

            margin: 0;
        }

        .footer__bottom .container {
            flex-direction: column;

        }

        .footer__rights {
            width: 205px;
            margin-bottom: 50px;
            margin-left: 20px;
        }

        .footer__icon {
            margin-left: 16px;
        }








        /*.footer__col-last {*/
        /*    width: 100px;*/
        /*}*/


    }

@media only screen and (max-height: 450px) {
        .features {
            padding: 426px 0 80px;
        }

        .hero .row {
            position: relative;
            margin-top: 30px;
        }

        .hero__desc {
            margin-top: 74px;
            margin-bottom: 11px;
        }

        .container {
            max-width: 844px;
        }

    .features {
        padding: 571px 0 10px;
    }

        .service__box {
            flex-wrap: wrap;
            justify-content: center;
        }

        .advice__img {
            width: 83%;
            height: 138px;
            margin: 0 auto;
        }

        .grid__col-3 {
            grid-template-columns: 1fr 1fr;
        }

        .clients__subscription {
            width: 100%;
        }
    }

