/* BASE CONF */
@import url(fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background: #FAFAFA;
    text-decoration: none;
    color: inherit;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
}

.row {
    display: flex;
}
.grid {
    display: grid;
}

.grid__col-3 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.section__titles {
    position: relative;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-align: center;
    transition: 0.5s;
}
.section__title {
    position: relative;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-align: center;
}
.section__title:before {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -7px;
    left: 50%;
    background-color: #252B42;
    width: 0%;
    transition: 0.3s;
    transform: translateX(-50%);

}
.section__title:hover:before {
    display: block;
    width: 70%;
}

.section__desc {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.container {
    max-width: 1064px;
    margin: 0 auto;
    padding: 0 10px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.sm__title {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 15px;
}

.sm__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 30px;
}

/* BASE CONF */

/* HEADER */
.header {
    position: absolute;
    top: 36px;
    width: 100%;
    z-index: 1;
}

.header_logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-right: 183px;

}

.nav_ref {
    transition: 0.3s;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}
.nav_ref:hover {
    color: #252B42;
}
.nav_ref:before {
    transition: 0.3s;
    content:"";
    position: absolute;
    left: -2px;
    bottom: -7px;
    width: 0;
    height: 2px;
    background-color: #252B42;
}
.nav_ref:hover:before {
    width: 115%;
}


.nav_ref:not(:last-child) {
    margin-right: 21px;
}

.header__burger {
    display: none;
}
.burger {
    margin-bottom: 14px;
    z-index: 1111;
}
.burger label {
    position: relative;
    display: block;
    width: 23px;
    height: 2px;
    background-color: #737373;
}
.burger label:before {
    position: absolute;
    content: "";
    width: 23px;
    height: 2px;
    background-color:  #737373;
    right: 0;
    top: 14px;
    transition: 0.3s;
}
.burger label:after {
    position: absolute;
    content: "";
    width: 23px;
    height: 2px;
    background-color: #737373;
    right: 0;
    bottom: -7px;
    transition: 0.3s;
}

.burger input:checked + label:before {
    width: 10px;
}
.burger input:checked + label:after {
    width: 15px;
}
.burger__link {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: #737373;
}
.burger__nav {
    position: absolute;
    top: -470px;
    padding: 30px 20px;
    width: 100%;
    left: 0;
    background-color: #F7F7F7;
    transition: .3s;
}
.burger input:checked ~ nav {
    top: -13px;
}




/* HEADER */

/* HERO */
.hero {
    padding-top: 184px;
    width: 100%;
    height: 100vh;
    background: url(../images/Img1.png) no-repeat center/cover;
    position: relative;
}

.hero__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    max-width: 509px;
}
.hero__title:hover {
    color: #00A0c1;
    transition: 0.3ms;
}

.hero__desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 35px 0;
    max-width: 376px;
}

.hero__btn {
    padding: 10px 36px;
    border-radius: 37px;
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 0.2px;
    transition: 0.3s;

}
.hero__btn:hover {
    background-color: #00A0c1;
    color: white;
    border-color: #FFF;
}


.hero__btn:first-child {
    margin-right: 10px;
}


.hero__btn_filled {

    background: #FFa62b;
    color: #fff;
    border: 1px solid #FFa62b;
    transition: 0.3s;
}
.hero__btn_filled:hover {
    background-color: #FFF;
    color:#FFa62b;
    
}
.hero__btn_hollow {

    color: #00A0c1;
    border: 1px solid #00a0c1;
}

.hero .row {
    width: 1044px;
    gap: 30px;
    bottom: -19px;
    position: absolute;
}

.hero__card {
    height: 210px;
    padding: 35px 0 35px 40px;
    background: #FFFFFF;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
    transition: 0.3s;
}
.hero__card svg {
    fill: #00A0C1;
    transition: 0.3s;
}
.hero__card:hover svg {
    fill: #FFF;
}
.hero__card:hover {
    background: #00A0c1;
   
}
.hero__card:hover .hero__sm-title,
.hero__card:hover .hero__sm-desc {
    color: #FFF;
}
.hero__sm-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 10px 0;
    transition: 0.3s;
}

.hero__sm-desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    transition: 0.3s;
}

/* .hero__card_sea {
    background: #00A0c1;
} */

/* .hero__card_sea .hero__sm-title,
.hero__card_sea .hero__sm-desc {
    color: #FFF;
} */

/* HERO */


/* FEATURES */

.features {
    padding: 211px 0 80px;
}

.features__desc {
    width: 511px;
    margin: 10px auto 50px;
}

.features .row {
    gap: 30px;
}

.features__card {
    transition: 0.5s;
    padding: 30px 0;
    height: 209px;
    background: #FFF;
}
.features__card:hover {
    background-color: #00A0c1;
}
.features__card svg {
    transition: 0.5s;
    fill: #00A0c1;
}
.features__card:hover svg {
    fill: #FFF;
}
.features__card:hover .section__titles,
.features__card:hover .features__lg-desc {
    color: #FFF;
}

.features__lg-desc {
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #737373;
}

/* FEATURES */

/* ADVICE */

.advice {
    padding: 155px 0 100px;
}
.advice__title {
    margin: 0 0 10px;
}

.advice__desc {
    margin: 0 0 45px;
}

.advice__card {
    
    transition: 0.3s;
    background: #FFF;
    height: 341px;

}

.advice__card:hover {
    background: #00A0c1;
}

.advice__card:hover .advice__crd-title,
.advice__card:hover .advice__crd-desc {
    color: #FFF;
}

.advice__content {
    padding: 30px 30px 0;
}
.advice__crd-title {
    transition: 0.3s;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #252B42;
    width: 130px;
    margin-bottom: 15px;

}

.advice__crd-desc {
    transition: 0.3s;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 30px;
}

.advice__grid {
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}

.advice__img {
    width: 100%;
    height: 138px;
    
}
.advice__crd-img {
    height: 100%;
    width: 100%;
}
/* ADVICE */

/* SERVICES */

.service{
    background-color: #FFF;
    padding: 100px 0;

}
.service__title {
   
    margin: 0 auto 15px; 
}


.service__desc {
    width: 511px;
    margin: 0 auto 100px;
}

.service__sm_box .rt__sm-title,
.service__sm_box .rt__sm-desc {
    transition: 0.3s;

}


/* .service__sm_box:hover {
    border: 1px solid #252B42;
} */

.service__lt-box {
    position: relative;
    max-width: 597px;
    height: 442px;
    /*background: url(../images/lt-box.png) no-repeat center/cover;*/
    /*margin-right: 120px;*/
}

.service__image {
    width: 100%;
    height: 100%;
}
.play {
    z-index: 1;
    position: absolute;

}
.play {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.service__rt-box {

    padding: 22px 0 0;
    max-width: 330px;
    
}

.rt__box-title {
    text-align: left;
    margin-bottom: 10px;
}


.rt__box-desc {
    text-align: left;
    margin-bottom: 30px;
}

.service__icon {
    margin-right: 21px;
}

.service__sm_box {
    align-items: flex-start;
}

/* SERVICES */

/* ClIENTS */

.clients{
    position: relative;
}
.clients__top {
    background-color: #FAFAFA;
    height: 262px;
}

.clients__logos {
  

  
}
.clients__logos{
    height: 175px;
}

.clients__bottom {
    background: #252B42;
    height: 77px;
    position: relative;
}

.clients__subscription {
    padding: 0 48px 0 50px;
    width: 986px;
    height: 124px;
    background: #16697A;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0 auto;
}
.subscription__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    width: 259px;
}
.subscription__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
    width: 332px;
    height: 56px;
    padding: 0 20px;
}
.subscription__text {
    outline: none !important;
}
.subscription__btn {
    transition: 0.3s;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #FFA62B;
    border: 1px solid #E6E6E6;
    border-radius: 0 5px 5px 0;
    height: 56px;
    width: 117px;
    margin-left: -1px;

}
.subscription__btn:hover {
    font-size: 16px;
    background: #FFF;
    color: #FFA62B;
}

/* ClIENTS */

/* CONTACT */

.contact {
    background: #FAFAFA;
    padding: 80px 0 148px;
}
.contact__title {
    margin-bottom: 10px;
}
.contact__desc {
    margin-bottom: 80px;
}

.contact__cards {
     margin: 0 auto;
    max-width: 985px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact__cards svg, 
.contact__mail,
.contact__support,
.contact__btn {
    display: inline-block;
}

.contact__mail {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.contact__support {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}

.contact__btn {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    border: 1px solid #FFA62B;
    border-radius: 5px;
    height: 44px;
    width: 160px;
    color: #FFA62B;
    justify-content: center;
    align-items: center;
}

.contact__cards svg {
    margin-bottom: 15px;
}

.contact__support {
    margin: 15px 0;
}
.contact__col {
    height: 393px;
    padding: 30px 0;
}
.contact__svg {
    width: 73px;
    height: 65px;
    margin-bottom: 10px;

}
.contact__card {
    background-color: #FFF;
    height: 100%;
}

.contact__col_dark {
    padding: 0;
}
.contact__col_dark .contact__card {
    background: #252B42;
    padding: 0;
    
}

.contact__col_dark .contact__mail,
.contact__col_dark .contact__btn,
.contact__col_dark .contact__support {
    color: #fff;
}
.contact__col_dark .contact__btn {
border: 1px solid #fff;
border-radius: 5px;
}


/* CONTACT */

/* FOOTER */

.footer__top {
    background-color: #FFFFFF;
}



.footer__top .container {
    height: 142px;
}
.footer__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    text-align: left;
    margin-bottom: 10px;
}

.footer__desc {
    text-align: left;
}


.footer__btn {
    transition: 0.3s;
    width: 160px;
    height: 58px;
    background: #FFA62B;
    border-radius: 5px;
    color: #FFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.footer__btn:hover {
    background-color: #FFF;
    color:#FFA62B;
    font-size: 16px;

}


.footer__middle {
    background: #16697A;
    padding: 50px 0;
}

.footer__middle .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    column-gap: 30px;
}


.footer__col a {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.footer__col a {
    margin-bottom: 10px;
}

.footer__sm-title {
    transition: 0.3s;
    margin-bottom: 20px;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;


}
.footer__sm-title:hover {
    font-size: 18px;
}
.footer__svg {
    margin-right: 10px;
}
.footer__touch:not(:last-child) {
    margin-bottom: 10px;
}

.footer__link {
    transition: 0.3s;
}

.footer__link:hover {
    font-size: 16px;
}
.footer__bottom {
    background-color: #FFFFFF;
}
.footer__bottom .container {
    height: 74px;
}
.footer__rights {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
.footer__icon {
    font-size: 24px;
    display: inline-block;
    margin-left: 20px;
}

.footer__icon .fa-facebook-square {
    color: #335BF5;
}

.footer__icon .fa-instagram {
    color: #E61F5A;
}
.footer__icon .fa-twitter {
    color: #21A6DF;
}

.footer__icon .fa-youtube {
    color: #E42F08;
}

/* FOOTER */